body {
    margin: 0;
    text-align: center;
}

/* sizes */
#main-wrap > div {
    min-height: 450px;
}

#header {
    background-color: blanchedalmond;
    padding: 5px;
}

/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#left-side {
    float: left;
    width: 50%;
}

#right-side {
    float: right;
    width: 50%;
}

#donald-image {
    width: 100%;
}

.bubble {
    position: relative;
    display: inline-block;
    max-width: 350px;
    min-height: 1.5em;
    padding: 20px;
    background: #FFFFFF;
    border: #7F7F7F solid 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 40px;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 10%;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before {
    content: "";
    position: absolute;
    bottom: -19.5px;
    left: calc(10% - 3px);
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
}

#personal-form{
    display: inline-block;
    text-align: center;
}

#home-link{
    float: left;
}

#api-link{
    float: right;
}