{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Donald Trump Quotes</title>

    <link href="{% static 'djtrump/css/app.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="header">
        <a href="/" id="home-link">Home</a>

        <form action="{% url 'personalize' %}" method="post" id="personal-form">
            {% csrf_token %}

            <input type="text" placeholder="NNAAAMMMEEE" name="name" value="{{ name }}">

            <input type="submit" value="Personalize">
        </form>

        <a href="https://whatdoestrumpthink.com/api-docs/index.html" id="api-link" target="_blank">API</a>

    </div>

    <div id="main-wrap">
        <div id="left-side">
            <img src="{% random_donald_image 'djtrump/images' %}" id="donald-image">
        </div>
        <div id="right-side">
            <div class="bubble">
              {{ data.message }}
            </div>
        </div>
    </div>

</body>

</html>